
.blurry-bg-blue {
	height: 400px;
	width: 600px;
	background: linear-gradient(45deg, #ffc55a, #a48fff);
	border-radius: 50%;
	opacity: 50%;
	left: 35%;
	top: 13%;
	position: absolute;
	z-index: -1;
	filter: blur(150px);
}
